    <h1>DASHBOARD</h1>

<div>
    <form class="word-search">
        <label>Search for a word:</label>
        <input class="word-input" type="text">
        <button class="search-button" type="submit">Search</button>
    </form>
</div>
<div>
      <button class="delete-btn">Delete</button>
      <button class="save-button">Save</button>
    </div>
<div class ="word-info">

</div>

<script src="./js/search.js"></script>