    <h1>DASHBOARD</h1>

<div>
    <form class="word-search">
        <label>Search for a word</label>
        <input class="word-input" type="text">
        <button class="search-button" type="submit">Search</button>
    </form>
</div>
<div>
      <button class="delete-btn">Clear</button>
      <button class="save-button">Add to Vault</button>
    </div>
<div class ="word-info">


</div>

    <div class='vocab-vault'>
  {{#each savedWords as |saved|}}
    <div class='word-card'>
      <h2 class='saved-word'>{{saved.word}}</h2>
      <button class="delete-button">Delete</button>
    </div>
</div>
  {{/each}}

<script src="./js/search.js"></script>
