    <h1>DASHBOARD</h1>

<div>
    <form class="word-search">
        <label>Search for a word:</label>
        <input class="word-input" type="text">
        <button class="search-button" type="submit">Search</button>
    </form>
</div>

<div class ="word-info">

</div>

<script src="./js/search.js"></script>